apiVersion: v2
name: cu-up
description: Accelleran 5G CU-UP Components
type: application
version: 12.0.7
# renovate: image=accelleran/cu-up
appVersion: "8.0.6"
dependencies:
  - name: common
    version: 0.5.0
    repository: https://accelleran.github.io/helm-charts/
  - name: nats
    condition: nats.enabled
    version: 2.12.4
    repository: https://nats-io.github.io/k8s/helm/charts/
