name: Release Please

on:
  workflow_call:
  workflow_dispatch:

jobs:

  release-please:
    name: Please
    permissions:
      contents: write
      pull-requests: write
    runs-on: ubuntu-24.04
    steps:
      - name: Get token
        uses: actions/create-github-app-token@0f859bf9e69e887678d5bbfbee594437cb440ffe # v2.1.0
        with:
          app-id: ${{ secrets.RELEASE_PLEASE_CLIENT_ID }}
          private-key: ${{ secrets.RELEASE_PLEASE_PRIVATE_KEY }}
        id: token
      - name: Release please
        if: ${{ github.ref_name == 'main' || startsWith(github.ref_name, 'releases/') }}
        uses: googleapis/release-please-action@a02a34c4d625f9be7cb89156071d8567266a2445 # v4.2.0
        with:
          token: ${{ steps.token.outputs.token }}
          target-branch: ${{ github.ref_name }}
          config-file: "etc/release-please-config.json"
          manifest-file: "etc/.release-please-manifest.json"
