name: Release Please

on:
  workflow_call:
  workflow_dispatch:

jobs:

  release-please:
    name: Please
    permissions:
      contents: write
      pull-requests: write
    runs-on: ubuntu-24.04
    steps:
      - name: Get token
        uses: actions/create-github-app-token@7e473efe3cb98aa54f8d4bac15400b15fad77d94 # v2.2.0
        with:
          app-id: ${{ secrets.RELEASE_PLEASE_CLIENT_ID }}
          private-key: ${{ secrets.RELEASE_PLEASE_PRIVATE_KEY }}
        id: token
      - name: Release please
        if: ${{ github.ref_name == 'main' || startsWith(github.ref_name, 'releases/') }}
        uses: googleapis/release-please-action@16a9c90856f42705d54a6fda1823352bdc62cf38 # v4.4.0
        with:
          token: ${{ steps.token.outputs.token }}
          target-branch: ${{ github.ref_name }}
          config-file: "etc/release-please-config.json"
          manifest-file: "etc/.release-please-manifest.json"
